<%= form_with(scope: :session, url: sessions_path, local: true, style:"width: 23rem;") do |form| %>

  <div class="form-outline mb-3">
    <%= form.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder:"メールアドレス", required: true, maxlength:"255" %>
  </div>

  <div class="form-outline mb-3">
    <%= form.password_field :password, class:"form-control", autocomplete: "current-password", placeholder:"パスワード", required: true, maxlength:"255", minlength: "6"%>
  </div>

  <div class="text-center mt-4 pt-2">
    <%= form.submit "ログイン", class:"btn btn-default text-white btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
  </div>

<% end %>
