<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">
            <div class="row mt-4 align-items-center">
              <div class="col-9"><h1><%= @area.area %>の店舗一覧</h1></div>
              <div class="col-3"><%= link_to t('helpers.links.back'), :back, class:"btn btn-primary text-white btn-sm my-5" %></div>
            </div>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">

                        <% @shops.each do |shop| %>
                        <div class="col-md-4">
                            <a href="/shops/<%= shop.id %>/top" class="card mb-4">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><%= shop.name %></p>
                                </div>
                            </a>
                        </div>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>