<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 text-center">
        <img src="https://soco-st.com/wp-content/themes/socost/upload/8357_color.svg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="divider d-flex align-items-center my-4">
            <h4 class="text-center fw-bold mx-3 mb-0"><%= t('.title') %></h4>
        </div>

      <%= render 'form', user: @user %>

      <div class="text-center mt-4">
        <p class="small mt-2 pt-1 mb-0">会員登録がお済みの方は<%= link_to "こちら", new_session_path %></p>
      </div>

      </div>
    </div>
  </div>
</section>