<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center">
      <h1 class="col-xl-9 my-4"><%= t('.title') %></h1>
      <div class="col-xl-9">

        <% if shop_user?(current_user) %>

        <% else %>
          <%= render '/orders/user/index', orders: @orders %>
        <% end %>
      </div>
      
    </div>
  </div>
</section>