<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="my-4 text-center"><%= t('.title') %></h1>
                <%= link_to '全受注一覧を見る', orders_path, class:"btn btn-default ms-5 h-50" %>
            </div>

            <% if @orders.length > 0 %>
                <h5 class="text-center mb-5">売り上げ：<%= calculate_daily_total_price(@orders) %>円</h5>
                <%= render '/orders/shop/task', orders: @orders %>

            <% else %>
                <p class="text-center">本日の受注はありません</p>
            <% end %>
        </div>

    </div>
</section>