<%# 未ログイン時navigation %>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link-default" href="/sessions/new">利用者ログイン</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/sessions/new_shop">店舗ログイン</a>
    </li>   
    <li class="nav-item">
        <a class="nav-link-default" href="/users/new">アカウント作成</a>
    </li>    
</ul>