<%# 店舗ログイン時navigation %>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link-default d-flex" href="/notifications">お知らせ
            <% if has_unchecked_notifications? %>
                <span class="notification my-0"></span>
            <% end %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/orders/today">受注一覧</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/shops/<%= current_user.shop.id %>/items/stock">在庫編集</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/shops/<%= current_user.shop.id %>/items/new">商品追加</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/shops/<%= current_user.shop.id %>">店舗詳細</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href='/users/<%= current_user.id %>'>アカウント</a>
    </li>
</ul>