<%# 利用者ログイン時navigation %>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link-default" href="/">買い物する</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/carts">カート</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="/orders">注文履歴</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href="#" onclick="alert('準備中です')">お気に入り</a>
    </li>
    <li class="nav-item">
        <a class="nav-link-default" href='/users/<%= current_user.id %>'>アカウント</a>
    </li>    
</ul>